form > * {
  display: block;
  margin-top: 1.5rem;
  font-size: 1.5rem;
}

.btn,
form {
  margin: 2rem;
}

#form-post-title {
  width: 28rem;
}

#form-post-title,
#form-post-content {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 5px;
  color: #495057;
}

#form-post-content {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  min-height: 30rem;
}
