@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(185, 91%, 17%);
  --clr-primary-2: hsl(185, 84%, 25%);
  --clr-primary-3: hsl(185, 81%, 29%);
  --clr-primary-4: hsl(185, 77%, 34%);
  /* primary/main color */
  --clr-primary-5: hsl(185, 62%, 45%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(185, 57%, 50%);
  --clr-primary-7: hsl(184, 65%, 59%);
  --clr-primary-8: hsl(184, 80%, 74%);
  --clr-primary-9: hsl(185, 94%, 87%);
  --clr-primary-10: hsl(186, 100%, 94%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: #f1f5f8;
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}
h1 {
  font-size: 3rem;
  text-transform: uppercase;
}

h2,
h3,
h4 {
  letter-spacing: var(--spacing);

  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-primary-10);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 400;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  margin-bottom: 1rem;
}
.btn:hover {
  background: var(--clr-primary-8);
  color: var(--clr-primary-1);
}

/* section */
.section {
  padding: 1rem 0;
  position: relative;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
.loading-img {
  width: 7rem;
  height: 7rem;
  background-image: url(../img/profile.jpg);
  background-size: cover;
  border-radius: 50%;
}
main {
  padding-bottom: 2rem;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 14rem;
  border-bottom: 1px solid black;
  background-image: url(../img/banner.jpeg);
  background-size: cover;
  background-position: center;
  color: #cfd2cf;
  text-shadow: 1px 1px 1px #000, 3px 3px 5px #fa9494;
  position: relative;
}

header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
}
.name {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 10px;
}
.profile-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.post-link {
  text-decoration: none;
}

/*  Post styling   */

.post {
  display: flex;
  height: 10rem;
  width: 100%;
  justify-content: center;
  border-style: solid;

  border-width: 1px;
  border-radius: 10px;
  border-color: #929eaa;
  transition: all 0.5s;
}
.post-photo {
  max-width: 30%;
  max-height: 100%;
  border-radius: 10px 0 0 10px;
  overflow: hidden;
  padding-right: 1rem;
}
.post:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

footer {
  min-height: 100px;
  background-color: #0e437970;
  color: var(--clr-primary-10);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  font-size: 14px;
}

/* ADD styling for all of the divs in post.html to match  */

.wellpaper {
  background-image: url(https://images.unsplash.com/photo-1661895613468-137da35b01e3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
  background-size: cover;
  background-position: center;
}
.post-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  border-radius: 1px;
  background-color: #fff;
}
#individual-post-title {
  color: #cfd2cf;
}

#individual-post-date {
  color: #929eaa;
}

#individual-post-content {
  min-height: 50vh;
  margin-top: 2rem;
}

/* New post */

form > * {
  display: block;
  margin-top: 16px;
  font-size: 18px;
}

#form-post-title {
  width: 300px;
}

#form-post-title,
#form-post-content {
  border: 1px solid #ced4da;
  padding: 8px;
  border-radius: 5px;
  color: #495057;
}

#form-post-content {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  min-height: 300px;
}

#form-post-submit {
  background-color: #004186;
  border-color: #004186;
  color: white;
  padding: 0.375rem 0.75rem;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#form-post-submit:hover {
  background-color: #002349;
}
